<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/bootstrap.css" />
	<style>
	.nav.floatRight {
	float:right;
	}
	</style>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="./index.html" class="brand">SuperApp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{homestate}}">
                <a href="./">Home</a>
              </li>
              <li class="{{getstartedstate}}">
                <a href="./getting-started.html">Get started</a>
              </li>
              <li class="{{toolboxstate}}">
                <a href="./scaffolding.html">Toolbox</a>
              </li>
              <li class="{{accountstate}}">
                <a href="./components.html">Account</a>
              </li>
            </ul>
            <ul class="nav floatRight">
			  <li class="{{signinstate}}">
                <a href="./signin">Sign in</a>
              </li>
			</ul>
		  </div>
        </div>
      </div>
    </div>
  
  {% block content %}
  {% endblock %}
  <!--
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    -->
  </body>
</html>
{% endautoescape %}